:root {
  font-family: Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent: #daecfb;
  --accentDark: #add2f1;
}

a {
  font-weight: 500;
  color: #5c8abe;
  text-decoration: inherit;
}

a:hover {
  color: #74bcff;
}

body {
  margin: 0;
  display: flex;
  min-width: 960px;
  min-height: 100vh;
  overflow-y: scroll;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 repeat(3, 10px);
  text-align: center;
}

header {
  margin: 0 -10px 30px -10px;
  padding: 7px;
  background-color: var(--accent);
  border-radius: 0 0 8px 8px;
  display: flex;
}

header nav {
  display: flex;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #3c4c5a;
  user-select: none;
}

h1 {
  display: inline-block;
  margin: 0 20px;
  font-size: 32px;
}

h2 {
  margin: 10px 20px;
  font-size: 24px;
}

label {
  margin-left: 15px;
  display: inline-block;
}

button,
input,
select {
  margin: 2px 6px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: all 300ms;
}

button:hover,
input:hover,
select:hover {
  border-color: #5d80c1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled,
input:disabled,
select:disabled {
  opacity: 0.5;
  outline: none;
  border-color: transparent;
}

button,
label {
  user-select: none;
}


svg text {
  user-select: none;
  pointer-events: none;
}



/* context */
.danger {
  color: crimson;
}

.warning {
  color: orange;
}


/* special symbols such as notes */
.icon {
  font-family: Inter, system-ui, Arial, Avenir, "Noto Sans", "Noto Sans Symbols", "Noto Sans Symbols 2", "Noto Music", sans-serif;
}


/* main page */


/* filter */

.grid-filter-app {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 210px auto;
}

.filter {
  text-align: left;
}

.filter input,
.filter select,
.filter .row-button {
  width: 180px;
}

.filter .row-button {
  height: 40px;
}

.filter select {
  text-align: center;
}

.filter button {
  display: block;
}

.filter button.active {
  background-color: rgb(218, 236, 251);
}


/* app grid */


div.grid {
  width: fit-content;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 18px;
  align-content: start;
  justify-content: start;
}

div.current-filters {
  grid-column: span 3;
}

div.card {
  padding: 15px 20px;
  width: 290px;
  height: 185px;
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: #eaeaea 0 0 8px;
  cursor: pointer;
  transition: box-shadow 500ms;
  user-select: none;
}


div.card:hover {
  box-shadow: steelblue 0 0 8px;
}

div.card h2 {
  margin-top: 0;
  min-height: 50px;
  font-size: 16px;
}

div.card .description {
  margin-bottom: 3px;
  /* text-align: justify; */
  height: 80px;
}

div.card .usage {
  margin-bottom: 3px;
  font-size: 12px;
  height: 18px;
}

div.card .tags {
  font-size: 18px;
}




/* alternative row layout */
div.grid.rows {
  grid-template-columns: auto;
  /* width: 100% */
}

div.grid.rows div.card {
  width: 600px;
  text-align: left;
  height: auto;
}

div.grid.rows div.card .description {
  height: auto;
}

div.grid.rows div.current-filters {
  grid-column: span 1;
}

/* footer */

.version-number {
  margin-top: 100px;
  color: #aaa;
  user-select: none;
}



/* apps */

.app {
  width: 940px;
  margin: 10px auto;
}

div.control,
div.visualization {
  width: 900px;
  margin: 10px auto;
  user-select: none;
}

div.visualization {
  min-height: 200px;
}

p.explanation {
  width: fit-content;
  max-width: 850px;
  margin: auto;
  text-align: justify;
  user-select: none;
}


/* used for keyboard shortcut styling */
code {
  background-color: #eee;
  padding: 4px;
  border-radius: 4px;
}


/* mobile style */
@media only screen and (max-width: 1300px) {
  header {
    display: block;
    border-radius: 0;
  }

  div.grid {
    grid-template-columns: repeat(2, auto);
  }

  div.current-filters {
    grid-column: span 2;
  }
}


/* printing style */
@media print {
  @page {
    size: A4 landscape;
    margin-top: 0.1cm;
    margin-right: 0.1cm;
    margin-bottom: 0.1cm;
    margin-left: 0.1cm;
  }

  header,
  .version-number {
    display: none;
  }

  #app {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  table,
  figure,
  img,
  svg {
    page-break-inside: avoid;
  }
}
